
!.vscode/extensions.json
.DS_Store
.idea
.netlify
.playwright-mcp/
.vscode/*
*-as-*.png
*.local
*.log
*.njsproj
*.ntvs*
*.png
*.sln
*.suo
*.sw?
# Editor directories and files
# Logs
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.jpeg
*.jpg
